.PageIndex{
  height: 100vh;
}
.PageIndex :global(.ant-menu-item:first-of-type ){
  margin-top: 0!important;
}

.triggerCnt{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
